.menu {
  margin-left: 17px;
}

.menu__btn {
  display: block;
  width: 48px;
  height: 38px;
  padding-top: 20px;
  font-size: 9px;
  line-height: 1;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-image: url(../img/icons/icon-menu-ham.svg);
  background-repeat: no-repeat;
  background-size: 26px auto;
  background-position: top center;
}

.menu__wrap {
  display: none;
}
