.promo__slider {
  height: 100vh;
  
  .swiper-pagination-bullet {
    margin: 0 10px !important;
  }
}

.promo__slide {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.promo__pagination {
  bottom: 40px !important;
  
  .swiper-pagination-bullet {
    width: 170px;
    height: 3px;
    background-color: #fff;
    outline: none;
    border-radius: 0;
  }
  .swiper-pagination-bullet-active {
    background-color: #fff;
  }
}

.promo__prev,
.promo__next {
  width: 61px;
  height: 61px;
  top: 44%;
  margin-top: 0;
  background-image: url(../img/icons/right-arrow.svg);
  background-size: 61px 61px;
  outline: none;
}

.promo__prev {
  transform: rotate(180deg);
  left: ~"calc(50% - 810px)";
}

.promo__next {
  right: ~"calc(50% - 810px)";
}
