.wide {
  margin-bottom: 62px;
  
  &--bg1 {
    min-height: 442px;
  }
  &--bg2 {
    min-height: 418px;
  }
  &--bg3 {
    min-height: 442px;
  }
}

.wide__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 115px;
  padding-bottom: 115px;
  color: #fff;
  font-size: 18px;
  text-align: center;
  
  p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}

.wide__title {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 34px;
  text-transform: uppercase;
}

.wide__btn {
  position: relative;
  z-index: 2;
  width: 190px;
  height: 45px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1;
  color: #3c3c3b;
  background-color: #fff;
  transition: .3s ease-in-out;
  
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
    height: 100%;
    width: 0;
    background-color: #6b6b6b;
    transition: .3s ease-in-out;
  }
  
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: -5px;
    top: -5px;
    width: 0;
    height: ~"calc(100% + 10px)";
    opacity: 0;
    border: 1px solid #fff;
    transition: .3s ease-in-out;
  }

  &:hover,
  &:active {
    color: #fff;
    transition: .3s ease-in-out;
    
    &::before {
      width: 100%;
      transition: .3s ease-in-out;
    }
    &::after {
      opacity: 1;
      width: ~"calc(100% + 10px)";
      transition: .3s ease-in-out;
    }
  }
}
